.page {
  padding: 2rem 1.5rem 3rem;
  display: grid;
  gap: 1rem;
}

form {
  display: grid;
  gap: 1rem;
  max-width: 28rem;
}

label {
  display: grid;
  gap: 0.4rem;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: red;
}

input.ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border-color: green;
}
